<h1 style="padding: 0 25px">Інформація про розробника</h1>
<div style="color: black; font-family: 'Times New Roman',serif; font-size: 25px">
  <div class="container text-center">

    <table align="center">
      <tr>
        <td style="width: 750px; vertical-align: middle">
          <p style="text-align: center; line-height: 1.5">
            Виконавцем курсової роботи є студент факультету комп’ютерних наук групи КС-43 – Курило Антон Андрійович.
          </p>
        </td>
        <td>
          <%= image_tag 'about/me.jpeg', width: 300, height: 300, :style => "border-radius: 50%" %>
        </td>
      </tr>
    </table>
  </div>
</div>
